.strony {
    /* font-family: 'Mulish'; */
    font-family: 'Raleway';
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 1vw;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(136, 135, 135, 0.5);
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

.strony a:link {
    /* font-family: 'Mulish', sans-serif; */
    font-family: 'Raleway', sans-serif;

    font-weight: bold;
    color: rgb(255, 255, 255);
    padding-bottom: 1%;
    font-size: 1vw;
    text-align: center;
    text-decoration: none;
}

.strony a:visited {
    /* font-family: 'Mulish', sans-serif; */
    font-family: 'Raleway', sans-serif;

    color: rgb(255, 255, 255);
    padding-bottom: 1%;
    font-size: 1vw;
    text-align: center;
    text-decoration: none;
}

.kolumna_przedmiotu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.kreska_przedmiotu {
    color: rgb(27, 212, 42);
    font-size: 4vw;
    width: 1%;
}

#nazwa_przedmiotu_do_przenoszenia:hover {
    color: rgb(52, 216, 52);
}


#img {
    width: 1px;
    height: 1px;
}

#dodaj_do_koszyka {
    border: none;
    background-color: inherit;
    display: flex;
    align-items: center;
    padding: 0;
    /* font-family: 'Raleway'; */
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding-bottom: 1%;
    font-size: 1vw;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
    width: 4vw;
    font-weight: bold;
    margin: 0;
    display: block; margin: 0 auto;
    color: white;
}

#dodaj_do_koszyka:hover {
    color: rgb(0, 255, 0);
    cursor: pointer;
}
#dodaj_do_koszyka_plus {
    border: none;
    background-color: inherit;
    display: flex;
    align-items: center;
    padding: 0;
    /* font-family: 'Raleway'; */
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 1vw;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4);
    background-color: rgba(136, 135, 135, 0.5);
    width: 4vw;
    font-weight: bold;
    margin: 0;
    display: block; margin: 0 auto;
    color: rgb(52, 216, 52);
}

#dodaj_do_koszyka_plus:hover {
    color: rgb(0, 255, 0);
    cursor: pointer;
}

#usun_z_koszyka {
    border: none;
    background-color: inherit;
    display: flex;
    align-items: center;
    padding: 0;
    /* font-family: 'Raleway', sans-serif; */
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-size: 1vw;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
    width: 4vw;
    font-weight: bold;
    margin: 0;
    display: block; margin: 0 auto;
    color: crimson;
}

#usun_z_koszyka:hover {
    color: rgb(255, 0, 0);
    cursor: pointer;
}

#quanity {
    width: 3vw;
}

#quanity::placeholder {
    text-align: center;
    padding-top: 1%;
    padding-left:25%;
}

#alert {
    align-items: center;
    display: flex;
    justify-content: center;
}

#alert_informacja {
    align-items: center;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: rgb(250, 0, 0);
    padding-bottom: 1%;
    font-size: 2vw;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    margin: 0;
    display: inline;
}

#alert_przedmiot {
    align-items: center;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding-bottom: 1%;
    font-size: 2vw;
    text-align: center;
    text-decoration: none;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    margin: 0;
    display: inline;
    padding-left: 1%;
    padding-right: 1%;
}


#dodaj:hover {
    color: rgb(52, 216, 52);
}

#usun_wszystko:hover {
    color:rgb(250, 0, 0);
}

#zamow {
    font-family: 'Raleway';
    font-weight: bold;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 3vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    border: none;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

#zamow:hover {
    color: rgb(52, 216, 52);
    cursor: pointer;
}

#zlozone_zamowienie {
    font-family: 'Raleway';
    font-weight: bold;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 3vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: transparent;
    border: none;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

/* Pokaz przedmiot: */

.wiersz {
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

#product_name {
    /* width: 5vw; */
    /* padding-bottom: 1%; */
    font-size: 1vw;
    text-align: center;
    align-self: center;
    resize: none;
    background: transparent;
    border: none;
    font-weight: bold;
    font-family: 'Raleway';
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(136, 135, 135, 0.5);
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

#product_description {
    font-family: 'Raleway';
    /* padding-bottom: 1%; */
    max-width: 99%;
    max-height: 30%;
    /* align-self: center; */
    font-size: 1vw;
    text-align: center;
    align-self: center;
    background: transparent;
    border: none;
    font-weight: bold;
    font-family: 'Raleway';
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(136, 135, 135, 0.5);
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

#product_description::placeholder {
    text-align: center;
    padding-top: 1%;
}

#expiration_date {
    font-family: 'Raleway';
    /* width: 7vw; */
    /* padding-bottom: 1%; */
    font-size: 1vw;
    max-width:inherit;
    align-self: center;
    text-align: center;
    font-size: 1vw;
    text-align: center;
    align-self: center;
    resize: none;
    background: transparent;
    border: none;
    font-weight: bold;
    font-family: 'Raleway';
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(136, 135, 135, 0.5);
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

#net_price {
    /* width: 7vw; */
    /* padding-bottom: 1%; */
    font-size: 1vw;
    resize: none;
    background: transparent;
    border: none;
    font-weight: bold;
    font-family: 'Raleway';
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(136, 135, 135, 0.5);
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
    /* width:10vw; */
    align-self: center;
    text-align: center;

}

#net_price::placeholder {
    text-align: center;
    padding-top: 1%;
    padding-left: 10%;
}

#vat {
    font-family: 'Raleway';
    font-size: 1vw;
    resize: none;
    background: transparent;
    border: none;
    font-weight: bold;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(136, 135, 135, 0.5);
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
    /* width: 7vw; */
    /* padding-bottom: 1%; */
    font-size: 1vw;
    width:5vw;
    align-self: center;
    text-align: center;
}

#vat::placeholder {
    text-align: center;
    padding-top: 1%;
    padding-left: 15%;
}

#quanity {
    resize: none;
    background: transparent;
    border: none;
    font-weight: bold;
    font-family: 'Raleway';
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(136, 135, 135, 0.5);
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
    font-family: 'Raleway';
    /* padding-bottom: 1%; */
    font-size: 1vw;
    align-self: center;
    text-align: center;
}

#quanity::placeholder {
    text-align: center;
    padding-top: 1%;
    padding-left: 6%;
}

#category_select {
    font-family: 'Raleway';
    /* width: 7vw; */
    /* padding-bottom: 1%; */
    resize: none;
    background: transparent;
    border: none;
    font-weight: bold;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: rgba(136, 135, 135, 0.5);
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 4px 3px rgba(0, 0, 0, 0.4),
    0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
    font-size: 1vw;
    width: max-content;
    align-self: center;
    text-align: center;
}

#size {
    font-family: 'Raleway';
    /* width: 7vw; */
    /* padding-bottom: 1%; */
    font-size: 1vw;
    width: max-content;
    align-self: center;
}

#przyciski {
    display: flex;
    /* display:inline-flex; */
    justify-content: flex-end;
    /* font-family: 'Mulish', sans-serif; */
    font-family: 'Raleway', sans-serif;

    font-size: 1.5vw;
    text-align: center;
    color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.1);
    justify-content: space-evenly;
}


#przycisk {
    font-family: 'Raleway';
    width: 5vw;
    align-self: center;
    /* padding-bottom: 1%; */
    font-size: 1vw;
    text-align: center;
    cursor: pointer;
}
