body {
	background: url("img_res/football_field.png") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

img {
	/* Aby obraz był nieklikalny prawym przyciskiem myszki -> chciałem to stestować */
	pointer-events: none;
	user-select: none;
}

.logo {
	justify-content: center;
	margin: auto;
	display: flex;
	color: whitesmoke;
	text-shadow: 0 0 5px black, 0 0 5px green;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	padding-bottom: 0;
	height: fit-content;
}

.naglowek {
	font-size: 70px;
	margin: auto;
	padding: 0%;
	float: left;
	margin-bottom: 0;
	
}

#football_o {
	width: 40px;
	background: transparent;
}

.dopisek {
	height: fit-content;
	margin-top: 0;
	display: inline-block;
	top:0;
	font-size: 30px;
	vertical-align: top;
	margin: auto;
	margin-left: 50%;
	padding: 2%;
	padding-top: 0;
	padding-bottom: 1%;
}

.tab_holder {
	background-color: rgb(18, 161, 13);
	font-size: 30px;
	display: flex;
	justify-content: center;
	/* justify-content: space-around; */
	/* max-width: 2000px; */
	width: 95%;
	margin: auto;
	/* position: relative; */
	align-items: center;
	text-shadow: 0 0 5px black, 0 0 5px green;
	box-shadow: 0px 0px 20px #ffffff;
	overflow-x:auto;
	margin-bottom: 3%;
}

.tab {
	padding-left: 50px;
	padding-right: 50px;
	color: #ebe4d1;
	text-decoration: none;
	text-align: center;
	width: 500px;
	top: 50%;
}

.strona_glowna {
	align-content: center;
	margin: auto;
	justify-content: center;
	max-width: 1500px;
	font-size: 20px;
}

.tytul_h3 {
	font-family: 'Mulish', sans-serif;
	font-size: 30px;
	text-align: center;
	/* padding-top: 2%; */
	color: white;
	margin: 0;
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
	/* text-shadow: 0 0 2px black, 0 0 5px green; */
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
				0px 4px 3px rgba(0,0,0,0.4),
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
	background-color: rgba(0,0,0,0.2);
	max-width: 500px;
}

.opis {
	color: white;
	text-align: justify;
	text-shadow: black 0px 0px 10px;
	background-color: rgba(41, 207, 61, 0.5);
}